html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
}
ol, ul{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
}
ul{
    height:80vh;
    overflow-x:hidden;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
ol{
    justify-content: center;
    margin-top: 5rem;
}
li{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding:0.25rem;
    height:100%;
}
ul li{
    background-color: #444772;
    flex: 1 0 100%;
    font-size: 10rem;
    /*transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;*/
    scroll-snap-align: start;
}
ul li:nth-child(even){
    background-color:#1A7517 ;
}

